<%= form_for( [@project, @task] ) do |f| %>
<%= render 'layouts/errors', object: @task %>
    <p class="form-group">
        <%= f.label :Nome %> </br>
        <%= f.text_field :name, class:"form-control" %>
    </p>
    <p class="form-group">
        <%= f.label :Data_Inicial %> </br>
        <%= f.date_select :dttini, class:"form-control" %>
    </p>
    <p class="form-group">
        <%= f.label :Data_Final %> </br>
        <%= f.date_select :dttfim, class:"form-control" %>
    </p>
    <p class="form-group">
        <%= f.label :Finalizado %> </br>
        <%= f.check_box :finish, class:"form-control" %>
    </p>
    <p>
        <%= f.submit class:"btn btn-primary" %>
        <%= link_to 'Cancelar', root_path, class:"btn btn-default" %>
    </p>
<% end %>