<%= link_to "Nova Tarefa", new_project_task_path(@project), class:"btn-task-new" %>
<br>
<section class="container flex flex-wrap">
    <% if @project.tasks.size > 0 %>
        <% @tasks.each do |task| %>
        <div class="painel-task">
            <div class="painel-nome-task">
                <%= task.name %>
            </div>
            <p class="camp-task">Data Inicial: <%= task.dttini.strftime("%d/%m/%Y") %></p>
            <p class="camp-task">Data Final: <%= task.dttfim.strftime("%d/%m/%Y")  %></p>
            <p class="camp-task">Finalizado: <%= finalizado(task) %></p>
            <p>
                <%= link_to "Editar Tarefa", edit_project_task_path(@project.id, task), class:"btn btn-primary" %>
                <%= link_to "Excluir Tarefa", project_task_path(@project.id, task), method: :delete, data: { confirm: "Deseja remover a Tarefa ?"}, class:"btn btn-danger" %>
            </p>
        </div>
        <% end %>
    <% else %>
        <div class="jumbotron">
            <h3>Não existe Tarefas</h3>
        </div>
    <% end %>
</section>
<br>
<%= link_to 'Voltar', project_path(@project), class:"btn btn-default" %>
