<%= link_to 'Novo Projeto', new_project_path, class:"btn-new" %>
<br>
<section class="container flex flex-wrap">
    <% @projects.each do |project|%>
    <div class="painel-tot">
        <div class="painel-nome-coala">
            <%= link_to project.name, project_path(project), class:"btn-project" %>
        </div>
        <p class="camp-project">Data Inicial: <%= project.dtini.strftime("%d/%m/%Y") %></p>
        <p class="camp-project">Data Final: <%= project.dtfim.strftime("%d/%m/%Y")  %></p>
        <p class="camp-project">% Completo: <%= porcentagem(project) %> % </p>
        <p class="camp-project">Atrasado: <%= atrasado(project) %></p>
    </div>
    <% end %>
</section>
<br>



